@font-face {
  font-family: 'Heartless';
  src: url('Heartless.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

header {

    background-color: black;
    height: 85px;

}

.nav-item {
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 18px;
    
}

.nav-link {

    color: white !important;

}

.nav-link:hover {

  color: rgb(129, 129, 129) !important;

}

.navbar-nav {
    display: flex;
    align-items: center;
    width: 100%;
}

.navbar {
    z-index: 15;
    position: relative;
    border-bottom: 2px solid white;
    box-shadow: 0 5px 10px rgba(255, 255, 255, 0.3);
}

.lupa {
    margin-left: auto;
    margin-right: 0px;
}

.nav-link.active {

    color: rgb(230, 0, 0) !important;
    text-decoration: none;
}

.portafoli {

  text-align: center;

}

.portafolitext {

  position: relative;
  margin: 75px auto 75px auto;
  color: white;
  font-size: 120px;
  min-width: 250px;
  max-width: 400px;
  font-family: 'Heartless', sans-serif;

}

.quisom {

  width: 80%;
  margin: auto;
  border-radius: 10px;
  border: 2px solid white;
  padding: 50px;
  background-image: url("img/fondoquisom.png");
  background-repeat: no-repeat, repeat;
  background-size: cover;
  text-align: center;

}

.quisom h1 {

  margin: auto;
  color: rgb(226, 39, 39);
  font-size: 120px;
  min-width: 250px;
  max-width: 400px;
  font-family: 'Heartless', sans-serif;

}

.quisom p {

  margin: auto;
  color: white;
  font-size: 25px;
  min-width: 250px;
  font-family: fantasy;
  font-weight: 100;

}

.portafoli {

  width: 100%;

}

.projectes, .estudis, .dissenys {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border: 2px solid white;
  padding: 20px;
  width: 80%;
  margin: 80px auto;
  border-radius: 10px;
  justify-content: space-between;
  overflow: hidden;
  object-fit: cover;
}

.projectes h1, .estudis h1, .dissenys h1 {
  margin: auto auto auto 25px !important;
  font-size: 100px;
  font-family: 'Heartless', sans-serif;
  color: white;
}

.projectes img, .estudis img, .dissenys img {
  height: 85px;
  margin: auto 0px auto 25px;
  flex: 1 1 auto;
}

.estudis img {
  height: 75px;
  margin: auto 10px auto 25px;
}


@media (max-width: 768px) {
  .projectes, .estudis, .dissenys {
    flex-direction: column;
    align-items: center;
  }

  .projectes h1, .estudis h1, .dissenys h1 {
    font-size: 60px;
    margin: auto !important;
    font-size: 100px;
  }

  .projectes img, .estudis img, .dissenys img {
    height: 100px;
    margin: 20px auto;
  }
}

@media (max-width: 480px) {
  .projectes h1, .estudis h1, .dissenys h1 {
    font-size: 40px;
  }

  .projectes img, .estudis img, .dissenys img {
    height: 60px;
  }
}

.cos button {
  height: 80px;
  background-color: #484848;
  color: #BABABA;
  padding: 20px;
  border-radius: 20px !important;
  margin: auto 30px auto 50px !important;
  width: 80%;
  transform: none !important;
  transition: none !important;
  font-family: sans-serif;
  font-size: 150% !important;
  font-weight: bold;
  border: 1px solid white;
}

.cos button:hover {
  height: 80px;
  background-color: #919191;
  color: #444444;
  padding: 20px;
  border-radius: 20px !important;
  margin: auto 30px auto 50px !important;
  width: 80%;
  transform: none !important;
  transition: none !important;
  font-family: sans-serif;
  font-size: 150% !important;
  font-weight: bold;
  border: 1px solid white;
}

footer {

    border-top: 2px solid white;
    color: white;
    text-align: center;
    font-family: sans-serif;
    font-weight: bold;
    margin: auto;
    vertical-align: middle;
    display: flex;
    flex-direction: column;
    font-size: 18px;
    padding: 30px;
    margin-top: 20px;

}

footer p {

    margin: auto;

}

footer .hola {

  color: rgb(184, 184, 184);

}

